<ul class="p-list">
  {{#each entries}}
  <li class="p-list__item">
    <h4 class="u-no-margin--bottom"><a href="{{ links.0.href }}">{{ title_detail.value }}</a></h4>
    <h6>{{ formatDate published '%Y-%m-%d' }} by {{ author }}</h6>
    <p>
      {{ summary_detail.value }}
    </p>
  </li>
  {{/each}}
</ul>
