
<ul class="events-list no-bullets">
    {{#each entries}}
        <li>
            <div class="event-details-wrapper clearfix">
                <h3>
                    <a href="{{ link }}" class="external">
                        {{ title }}
                    </a>
                </h3>
                <div class="event-map">
                    <a href="{{ link }}">
                        <img class="avatar" alt="Location map"
                            src="//maps.googleapis.com/maps/api/staticmap?center={{ location }}&amp;zoom=12&amp;size=156x156&amp;sensor=false">
                    </a>
                </div>
                <dl class="event-details">
                    <dt class="accessibility-aid">Date:</dt>
                    <dd class="event-date">
                        {{ dates }}
                        <span class="accessibility-aid">
                            <time datetime="{{ start_date }}"
                                itemprop="startDate"></time>
                            <time datetime="{{ end_date }}"
                                itemprop="endDate"></time>
                        </span>
                    </dd>
                    <dt class="accessibility-aid">Location:</dt>
                    <dd class="location" itemtype="http://schema.org/PostalAddress"
                        itemscope="" itemprop="location">
                        {{ location }}
                    </dd>
                </dl>
            </div>
        </li>
    {{/each}}
</ul>
