<ul class="p-list">
    {{#each entries}}
    <li class="p-list__item">
      <div class="p-media-object">
        <img class="p-media-object__image" alt="Location map"
          src="//maps.googleapis.com/maps/api/staticmap?center={{ location }}&amp;zoom=12&amp;size=156x156&amp;sensor=false">
        <div class="p-media-object__details">
          <h3 class="p-media-object__title">
            <a href="{{ link }}">{{ title }}</a>
          </h3>
          <ul class="p-media-object__meta-list">
            <li class="p-media-object__meta-list-item--date">
              <span class="u-off-screen">Date: </span>{{ dates }}
              <span class="u-off-screen">
                  <time datetime="{{ start_date }}"
                      itemprop="startDate"></time>
                  <time datetime="{{ end_date }}"
                      itemprop="endDate"></time>
              </span>
            </li>
            <li class="p-media-object__meta-list-item--location" itemtype="http://schema.org/PostalAddress"
                itemscope="" itemprop="location">
              <span class="u-off-screen">Location: </span>{{ location }}
            </li>
          </ul>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
